@media (min-width: 970px) {
  .container-fluid {
    width: 970px;
    }
}

.navbar-toggle .icon-bar {
    background-color: black;
}

/* Validation Errors */

.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

table, th, td {
   border: 1px solid black;
}

th, td 
{
    padding: 5px;
}

th 
{
    color: Black;
}

td 
{
    color: Black;
}

table
{
    width: 100%;
}