@media (min-width: 780px) {
  .container-fluid {
    width: 780px;
    }
}

.navbar-toggle .icon-bar {
    background-color: black;
}

/* http://shapebootstrap.net/demo/html/corlate/ */

.navbar-inverse
{
    background-color: Black;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.navbar-inverse > .container .navbar-brand, 
.navbar-inverse > .container-fluid .navbar-brand
{
    height: 84px;
}

@media (min-width: 780px) {
    .navbar-inverse .navbar-nav
    {
        margin-top: 25px;
    }
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .active > a
{
    background-color: #FF6314;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

@media (min-width: 780px) {
    .navbar-inverse .navbar-nav > li
    {
        padding-bottom: 25px;
    }
}

.navbar-inverse .navbar-nav > li > a
{
    padding: 5px 12px;
    text-shadow: none;
}

/*---*/


.date-picker-container 
{
    margin-bottom: -15px;
}

.date-picker-container > div 
{
    padding-bottom: 15px;
}

/* Validation Errors */

.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

table.standard, th, td {
   border: 1px solid black;
}

table.standard th,
table.standard td 
{
    padding: 5px;
}

table.standard th 
{
    color: Black;
}

table.standard td 
{
    color: Black;
}

table.standard
{
    width: 100%;
}

.marathon .form-horizontal .control-label
{
    text-align: left;
}

body 
{
    font-family:  Roboto, Optima, Arial;
}

h1
{
    padding-bottom: 15px;
    border-bottom: 1px solid #FF6314;
    margin-bottom: 30px;
    font-weight: bold;
}